*.dta
*.csv


########################################################################
###ignore the auxiliar files that are created when I run the latex
#########################################################################
*.aux
*.toc
*.gz
*.log
*.out
